<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h4>Choice Customer</h4>


<!--${flowExecutionUrl} служебная переменная -->
<form th:action="${flowExecutionUrl}" th:object="${customers}" method="POST">
    <select th:name="customer" >
        <option th:each="customer : ${customers}"
                th:text="${customer.customerName}">customerName</option>
    </select>
    <br>
    <input type="submit" name="_eventId_customSelected" value="Submit"/>
</form>


</body>
</html>